<div class="card card-custom col-lg-11">
    <% alerts.forEach(function(alert) { %>
        <div class="alert alert-custom alert-light-<%= alert.level %> fade show ml-5 mr-5 mt-5" role="alert">
            <div class="alert-text">
                <%= alert.message %>
            </div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>
        <% }); %>
            <div class="card-header flex-wrap border-0 pt-6 pb-0 ml-3">
                <div class="card-title">
                    <h3 class="card-label">
                        <%= title %>
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <%- include('../partials/_detailsTable') %>
            </div>
            <label class="m-5">
                Total: <%= orderItems.total %> VND
            </label>
            <form action="<%= action %>" method="post">
                <div class="col-lg-6 col-sm-12 my-2 mb-12 row">
                    <div class="input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Status</span>
                        </div>
                        <select class="form-control" name="status">
                            <option value="0">Waiting</option>
                            <option value="1">Paid</option>
                            <option value="2">Success</option>
                            <option value="3">Canceled</option>
                        </select>
                        <script defer>
                            $('[name=status]').val("<%= alerts.length > 0 ? session.input.status : _.get(orderItems,'status','') %>");
                        </script>
                    </div>

                    <button type="submit" class="btn btn-light-primary px-6 font-weight-bold">Update</button>
                </div>
            </form>
</div>

<% session.alert=undefined %>
    <%- contentFor('pageTitle') %>
        <%= title %>